In [1]:
import pydeck
import pandas as pd
import time
pydeck.__version__, pd.__version__

('0.7.1', '1.4.1')

In [2]:
df_new = pd.read_csv('data/data_osrm.csv', dtype={'path': object,
                                                  'timestamp': object})
df_new.head()

,id,path,timestamp
0,NCID0001,"[[128.586488, 35.867508], [128.586577, 35.8682...","[2864.7, 2891.0, 2913.0, 2932.4, 2932.4]"
1,NCID0002,"[[128.580994, 35.870917], [128.581082, 35.8704...","[11.8, 134.9, 159.4, 186.8, 194.3, 235.4, 345...."
2,NCID0003,"[[128.594369, 35.865235], [128.599484, 35.8637...","[2492.2, 2570.1, 2610.7, 2713.8999999999996, 2..."
3,NCID0003,"[[128.562665, 35.84149], [128.560924, 35.84198...","[562.8, 577.5999999999999, 584.3, 631.3, 656.0..."
4,NCID0004,"[[128.583466, 35.869256], [128.582473, 35.8694...","[1691.9, 1691.9]"

In [3]:
type(df_new['path'][0]), df_new['path'][0]

(str,
 '[[128.586488, 35.867508], [128.586577, 35.868217], [128.585113, 35.870474], [128.581082, 35.870481], [128.580862, 35.87168]]')

In [4]:
# convert str to list
df_new['path'] = df_new['path'].apply(eval)
df_new['timestamp'] = df_new['timestamp'].apply(eval)

In [5]:
df_new.head()

,id,path,timestamp
0,NCID0001,"[[128.586488, 35.867508], [128.586577, 35.8682...","[2864.7, 2891.0, 2913.0, 2932.4, 2932.4]"
1,NCID0002,"[[128.580994, 35.870917], [128.581082, 35.8704...","[11.8, 134.9, 159.4, 186.8, 194.3, 235.4, 345...."
2,NCID0003,"[[128.594369, 35.865235], [128.599484, 35.8637...","[2492.2, 2570.1, 2610.7, 2713.8999999999996, 2..."
3,NCID0003,"[[128.562665, 35.84149], [128.560924, 35.84198...","[562.8, 577.5999999999999, 584.3, 631.3, 656.0..."
4,NCID0004,"[[128.583466, 35.869256], [128.582473, 35.8694...","[1691.9, 1691.9]"

In [6]:
time_min = int(df_new['timestamp'].min()[0])
time_max = int(df_new['timestamp'].max()[1]) + 500
print(time_min, time_max)

tripsLayer = pydeck.Layer(
    type="TripsLayer",
    data=df_new,
    get_path='path',
    get_timestamps='timestamp',
    get_color='[255, 0, 0, 255]',
    opacity=0.8,
    width_min_pixels=3,
    rounded=True,
    trail_length=500,
    current_time=time_min,
)

view_state = pydeck.ViewState(
    longitude=128.602935,
    latitude=35.850913,
    zoom=10,
    min_zoom=7,
    max_zoom=15,
    pitch=0,
    bearing=0,
)

r = pydeck.Deck(layers=[tripsLayer], initial_view_state=view_state)
# r.to_html('example3.html')
display(r.show())

# Animate
for ct in range(time_min, time_max, 100):
    tripsLayer.current_time = ct
    r.update()
    time.sleep(0.1)

11 3982

DeckGLWidget(carto_key=None, custom_libraries=[], google_maps_key=None, json_input='{"initialViewState": {"beaâ€¦